@font-face {
  font-family: "indie-flower-regular";
  src: url("./fonts/IndieFlower-Regular.ttf")
}

html {
  font-family: "indie-flower-regular","arial";
  font-size: 20px;
}

body {
  text-align: center;
  margin: 0;
}

#top-box {
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  background-image: url("./images/sky-dithered-large.png");
  background-size: cover;
  background-position: center;
}

#top-box>h1,
#top-box>p {
  padding: 10px 18px;
  border-radius: 8px;
}

#top-box>h1 {
  background-color: #602a62;
  margin: 0;
  font-family: "courier";
}

#top-box>p {
  background-color: #75beef;
  margin: 0;
  color: #4559a8;
}

#middle-box {
  background-color: hsla(105, 55%, 96%, 0.9);
  min-height: 24rem;
  padding: 3rem 0 2rem;
  color: #1D3557;
  --item-width: 40ch;
  --gap: 8ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-box>h2 {
  padding: 0 1rem;
  margin: 0 0 4rem;
}

#locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
  flex-wrap: wrap;
  max-width: calc(var(--item-width) * 3 + var(--gap) * 2);
}

.presentation {
  width: var(--item-width);
}

#locations>div>img {
  width: 100px;
  height: 100px;
  border-radius: 999px;
}

#bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24rem;
}

#card {
  background-color: #dca8b9;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  width: 24rem;
  box-shadow: 0 6px 0 #40657b;
  color: #1D3557;
  font-family: cursive;
}

#card>img {
  border-radius: 10px;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

#card>div{
  padding: 10px 20px;
  width: 50%;
}
